* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.338),rgba(0, 0, 0, 0.384)),url(../images/bakgrund.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    color: white;
}
h1{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
}

header {
    text-align: center;
    padding: 20px;
    color: white;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.744); 
    border-radius: 8px;
}
.city-buttons {
    margin-top: 15px;
}
.city-buttons button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.557);
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "Raleway", sans-serif;
}
.city-buttons button:hover {
    background-color: rgba(224, 224, 224, 0.884);
}
main {
display: flex;
justify-content: center;
width: 100%;
max-width: 800px;
margin-top: 20px;
color: white;
}
.current-weather{
    text-align: center;
    padding: 20px;
    width: 45%;
    margin: 5px;
    background-color: rgba(145, 143, 143, 0.311);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(238, 234, 234, 0.416);
    border: 2px solid rgba(255, 255, 255, 0.687);
}
#current-weather-info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.forecast{
    text-align: center;
    padding: 20px;
    width: 45%;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(145, 143, 143, 0.311);
    box-shadow: 0 4px 8px rgba(238, 234, 234, 0.416);
    border: 2px solid rgba(255, 255, 255, 0.687);
}
.foreast-day{
    margin-top: 10px;
}
body[data-theme="normal"] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.338),rgba(0, 0, 0, 0.384)),
    url(../images/bakgrund.jpg);
}
body[data-theme="swedish"] {
    color: #004B87;
}
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    font-size: 14px;
}
footer p {
    display: inline;
    margin-right: 15px;
}
footer button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family:"Raleway", sans-serif;
}

footer button:hover {
    background-color: rgba(224, 224, 224, 0.7);
}
